:root {
  --space: 20px;
}
form {
  height: 50vh;
}
form button {
  margin: 20px 0 0 0;
}
.password-label {
  margin: 100px 0;
}
.validation-box {
  padding: var(--space);
  background: #fafafa;
  border-radius: 8px;
  -webkit-box-shadow: 0px 10px 43px 0px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 10px 43px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 10px 43px 0px rgba(0, 0, 0, 0.12);
  list-style: none;
  font-size: 0.875em;
  font-weight: 400;
  color:  #000000;
  width: 50%;
}
.validation-item {
  position: relative;
  padding-left: calc(var(--space) + 8px);
}
.validation-item:not(:last-child) {
  margin-bottom: 16px;
}
.validation-item.done {
  color: black;
}
.validation-icon {
  position: absolute;
  width: 14px;
  height: 14px;
  display: flex;
  align-items: center;
  left: 0px;
}
.checked, .circle {
  width: 100%;
}
@media only screen and (max-height: 320px) {
  .validation-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (max-width: 800px) {
  .validation-box {
    width: 100%
  }
}