.login-screen {
    width: 70%;
    height: 100vh
}
.login-text {
    color: #234D6C;
    font-size: 30px;
    font-weight: 700;
    line-height: 35.15px;
    margin: 20px 0 0 0
}
.onboard {
    font-size: 15px;
    font-weight: 300;
    color: #666666;
    padding: 10px 0 0 0;
}
.top-dots {
    color: #234D6C;
    font-size: 40px;
    line-height: 10px;
    padding: 10px 0;
}
.google-sign-in {
    background: transparent;
    outline: none;
    border: 1px solid #54a8c4;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
    padding: 7px 0;
    border-radius: 7px;
    margin: 20px 0;
}
.google-sign-in img {
    width: 8%;
    margin: 0 20px 0 0;
    
}
form {
    height: 60vh;
    margin-top: 30px;
    position: relative;
}
form button {
    width: 100%;
    background: #54a8c4;
    color: #ffffff;
    outline: none;
    border: none;
    border-radius: 7px;
    padding: 20px 0;
    cursor: pointer;
}
.email-input, .password-input{
    width: 100%;
    padding: 20px 0 20px 30px;
    border: 1px solid #54a8c4;
    border-radius: 7px;
    margin: 10px 0 
}
.email-input:focus, .password-input:focus {
    outline: none;
    border: 2px solid #54a8c4;
}
::placeholder {
 color: #999999;
}
label {
    color: #999999;
}

hr {
    margin-top: 10px
}

.email-check {
    position: absolute;
    width: 6%;
    left: 90%;
    top: 10%
}
.remember-me {
    width: 20%;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}
hr {
    width: 35%;
}
@media screen and (max-width: 800px) {
    .login-screen {
        width: 100%;
    }
    hr {
        width: 26%
    }
    .remember-me {
        width: 40%;
    }
}